 .Header input
{
  display: none;
}

.orders
{
  display: flex;
}

.order-h
{
  width: 40rem;
  color: #231248;
  margin: 2rem;
  border-bottom: solid black 3px;
}

 .orders-card
{
  margin-left: 5rem;
  height: 500px;
  padding: 50px 0;
  overflow: auto;
}

@media screen and (max-width: 768px)
{

 
  .orders-card
  {
    margin: 0 80px;
  }
}

@media screen and (max-width: 480px)
{

  .orders-details
  {
    width: 100%;
  }
  .orders-card
  {
    margin: 0 50px;
  }
}

@media screen and (max-width: 480px)
{
  .orders-card
  {
    margin: 0 40px;
  }
}

