html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Home Page*/

.Button button
{
  background-color: transparent;
  padding: 10px 120px;
  margin: 0 20px;
  font-weight: bold;
  font-family: Ramaraja;
  font-size: 2rem;
  border-radius: 30px;
  color: white;
  border: solid white 2px;
}

.Button button:hover
{
  background-color: #FFF;
  box-shadow: 0 8px;
  color: #231248;
}

.Overview
{
  font-family: Ramaraja;
  width: 100%;
  height: 100%;
}

.Overview .Overview1 .logo
{
  font-size: 2.2rem;
  background-color: #FFF;
  opacity: 0.92;
  padding: 15px 40px;
}

.Overview .Overview1
{
  width: 100%;
  height: 100%;
  background-image: url("/src/Images/Bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Overview .Overview1 h2
{
  font-size: 3rem;
  color: white;
  text-align: left;
  margin-top: 20%;
  margin-left: 5%;
}

.Overview .Overview1 .Button
{
  display: flex;
  padding-bottom: 10%;
  justify-content: flex-end;
  margin-right: 10%;
}

.Overview .Overview2
{
  display: flex;
}

.Overview .Overview2 p
{
  padding: 0 2%;
  margin-right: 10%;
  color: #231248;
  font-size: 3rem;
}

.Overview .Overview2 .Vector1
{
  padding: 1.5%;
  margin-left: 20%;
  height: 100%;
}

.Overview .Overview2 .Vector2
{
  padding: 1.5%;
  height: 100%;
}

.Header
{
  font-family: Ramaraja;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px;
  background-color: #FFF;
  color: #231248;
}

.Header h1
{
  margin-top: 5px;
  margin-left: 2%;
}

.Header input
{
  width: 300px;
  margin: 15px 25px;
  padding-left: 2%;
  border: solid blue 2px;
}

.Footer
{
  display: flex;
  font-size: 1.2rem;
  font-family: Ramaraja;
  justify-content: center;
  background-color: #231248EB;
  color: #FFF;
}

.Footer h4
{
  padding: 0 5%;
}

/* User Page*/

.User
{
  font-family: Ramaraja;
}

.User .featured-title
{
  text-align : center;
  color: #231248;
  font-size: 2.5rem;
}

.User .shop-title
{
  margin-left : 10%;
  color: #231248;
  font-size: 2.5rem;
}

.User .cards-pets
{
  display : flex;
  justify-content: center;
  padding: 10px;
  background: rgba(77, 57, 30, 0.15);
}

.User .cards-shops
{
  display : flex;
  justify-content: center;
}

.featured-pet
{
  display: flex;
  text-align: center;
  margin: 20px;
  background: #FFFFFF;
  box-shadow: 4px 5px 18px #231248;
}

.featured-pet .pet-image
{
  width: 80%;
}

.featured-pet .pet-image img
{
  height: 100%;
}

.featured-pet .info
{
  width: 150px;
  padding: 10px;
}

.featured-pet .info .pet-name
{
  color: #231248;
  margin: 0;
  padding: 8px 0;
}

.featured-pet .info .pet-breed
{
  color: #231248;
  margin: 0;
  padding: 8px 0;
}

.featured-pet .info .pet-price
{
  color: red;
}

.featured-pet .ff button
{
  background-color: #231248;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  box-shadow: 2px;
}

.featured-pet .ff button:hover
{
  background-color: white;
  color: #231248;
  box-shadow: 3px 3px 5px 5px;
}

.featured-pet .pet-image img
{
  width: 100%;
}

.shops-list
{
  display: flex;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.shops-list .info
{
  background: rgba(77, 57, 30, 0.15);
  padding: 10px;
}

.shops-list .shops-images
{
  width: 180px;
}

.shops-list .shops-images img
{
  width: 100%;
  height: 100%;
}

.shops-list .info button
{
  background-color: #231248;
  padding: 10px 50px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  box-shadow: 2px;
}

.shops-list .info button:hover
{
  background-color: white;
  color: #231248;
  box-shadow: 3px 3px 5px 5px;
}

.shops-list .info .shops-location
{
  font-weight: normal;
}

/*shops main*/

.shop-overview .Header input
{
  display: none;
}

.shop-main
{
  width: 500px;
  height: 400px;
  margin: 5% 30%;
  padding: 120px 0;
  font-family: Ramaraja;
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.shop-main button
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  width: 60%;
  padding: 10px 0;
  margin: 20px 20%;
  color: white;
  background-color: #6167FF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 41px;
  border: none;
}

.shop-main button img
{
  color: #FFF;
  width: 10%;
  margin: 0 50px;
}


/*SignUp Page*/

.SignUp .Header input
{
  display: none;
}

.signup-page
{
  font-family: Ramaraja;
  width: 500px;
  height: 500px;
  margin: 5% 30%;
  text-align: center;
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.signup-page .signup-form label
{
  display: flex;
  margin: 10px 80px;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 40px;
}

.signup-page .signup-form img
{
  width: 8%;
}

.signup-page .signup-form input
{
  width: 100%;
  outline: none;
  background:#FCFCFC;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border: none;
  margin: 5px 0;
}

.signup-page .signup-form button
{
  background-color:#7B61FF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  color: #FFF;
  margin-left: 42%;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 35px;
}

.signup-page .al
{
  display: flex;
  justify-content: center;
}

.signup-page .al .signin-here
{
  padding: 0 10px;
  cursor: pointer;
  color: #6167FF;
}

/* Pet Details */

.pets-details
{
  font-family: Ramaraja;
}

.pets-details .pet
{
  padding: 4% 6%;
}

.pets-details .Header input
{
  display: none;
}

.pets-details .pet .pets-info
{
  display: flex;
}

.pets-details .pet .pets-info .pet-header
{
  color:#231248;
  margin: 10px 80px;
  font-size: 2rem;
}

.pets-details .pet .pets-info .pet-header .Catagory
{
  display: flex;
  color: #000;
  justify-content: space-between;
  align-items: center;
}

.pets-details .pet .pets-info .pet-header .Catagory .catagory
{
  padding: 5px 10px;
  background-color: #C4C4C4;
  border-radius: 40px;
}

.pets-details .pet .pets-info .pet-header .Catagory h4
{
  padding: 5px 15px;
  margin: 0 10px;
  border: 1px solid #231248;
  border-radius: 40px;
}

.pets-details .pet .About-me h1
{
  width: 80%;
  padding: 10px 0;
  border-bottom: solid black 2px;
}

.pets-details .pet .About-me h6
{
  margin: 10px 0;
  padding-right: 5%;
  font-size: 1.7rem;
}

.pets-details .pet button
{
  background-color:#6167FF;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(2px 4px 25px rgba(0, 0, 0, 0.25));
  border-radius: 40px;
  border: none;
  margin-left: 75%;
  padding: 20px 55px;
  color: #FFF;
}

/*Login Page*/

.Login .Header input
{
  display: none;
}

.login-page
{
  font-family: Ramaraja;
  width: 500px;
  height: 400px;
  padding: 30px 0;
  margin: 5% 30%;
  text-align: center;
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.login-page h2
{
  margin: 40px;
}

.login-page .login-form label
{
  display: flex;
  margin: 10px 80px;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 40px;
}

.login-page .login-form img
{
  width: 10%;
}

.login-page .login-form input
{
  width: 100%;
  outline: none;
  background:#FCFCFC;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border: none;
  margin: 10px 0;
}

.login-page .forget-password
{
  display: flex;
  justify-content: center;
}

.login-page .create-account
{
  display: flex;
  justify-content: center;
}

.login-page .forget-password button
{
  background-color:#7B61FF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  font-weight: bold;
  border: none;
  color: #FFF;
  cursor: pointer;
  padding: 10px 40px;
  margin: 10px;
}

.login-page .click-here
{
  padding: 0 10px;
  cursor: pointer;
  color: #6167FF;
}

/*Add Pet*/

.Add-Pet .Header input
{
  display: none;
}

.add-pets
{
  font-family: Ramaraja;
  width: 500px;
  height: 500px;
  margin: 5% 30%;
  text-align: center;
  background: #FCFCFC;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}

.add-pets .add-form label
{
  display: flex;
  margin: 10px 80px;
  padding: 0 10px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 40px;
}

.add-pets .add-form input
{
  width: 100%;
  outline: none;
  background:#FCFCFC;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
  border: none;
  margin: 5px 0;
}

.add-pets .add-form button
{
  background-color:#7B61FF;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  border: none;
  color: #FFF;
  margin-left: 42%;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 35px;
}
