.User
{
  font-family: Ramaraja;
}

.featured-title
{
  text-align : center;
  color: #231248;
  font-size: 2.5rem;
}

.shop-title
{
  margin-left : 10%;
  color: #231248;
  font-size: 2.5rem;
}

.cards-pets
{
  display : flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(77, 57, 30, 0.15);
}

.cards-shops
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.featured-pet
{
  display: flex;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 2px 2px;
}

.pet-image 
{
  width: 150px;
  height: 120px;
}

.pet-image img
{
  width: 150px;
  height: 120px;
}

.pet-info
{
  text-align: center;
  background-color: white;
  padding: 0 10px;
}

.pet-name,.pet-breed,.pet-price
{
  margin: 5px;
}

.Am button
{
  color: white;
  background-color: #231248;
  border-radius: 40px;
  font-weight: bold;
  border: none;
  padding: 5px 10px;
}

.Am button:hover
{
  background-color: white;
  color: #000;
  box-shadow: 2px 2px 3px 3px;
}

.shops-list
{
  display: flex;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.shops-images
{
  width: 180px;
  height: 150px;
}

.shops-images img
{
  width: 100%;
  height: 150px;
}

.shopcard-info
{
  background: rgba(77, 57, 30, 0.15);
  padding: 10px 20px;
}

.shops-name,.shops-info,.shops-location
{
  margin: 10px 5px;
}

.shopcard-info button
{
  color: white;
  background-color: #231248;
  border-radius: 40px;
  font-weight: bold;
  border: none;
  padding: 5px 20px;
}

.shopcard-info button:hover
{
  background-color: white;
  color: #000;
  box-shadow: 2px 2px 3px 3px;

}

@media screen and (max-width: 1024px) 
{
  .shops-images 
  {
    width: 50%;
  }

}

@media screen and (max-width: 768px) 
{

  .shopcard-info
  {
    font-size: .9rem;
    padding: 10px;
  }

  .pet-info
  {
    font-size: .8rem;
  }

  .pet-image
  {
    width: 65%;
  }

  .Am button
  {
    font-size: .5rem;
  }

  .User .m
  {
    display: none;
  }

  .User .z
  {
    display: none;
  }
}

@media screen and (max-width: 480px) 
{
  .cards-pets
  {
    flex-direction: column;
  }
  .cards-shops
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pet-image
  {
    width: 65%;
  }

  .shops-list
  {
    margin: 10px;
  }
}

@media screen and (max-width: 360px) 
{
  
}