.User
{
  font-family: Ramaraja;
}

.User .featured-title
{
  text-align : center;
  color: #231248;
  font-size: 2.5rem;
}

.User .shop-title
{
  margin-left : 10%;
  color: #231248;
  font-size: 2.5rem;
}

.User .cards-pets
{
  display : flex;
  justify-content: center;
  padding: 10px;
  background: rgba(77, 57, 30, 0.15);
}

.User .cards-shops
{
  display : flex;
  justify-content: center;
}

.featured-pet
{
  display: flex;
  text-align: center;
  margin: 20px;
  background: #FFFFFF;
  box-shadow: 4px 5px 18px #231248;
}

.featured-pet .pet-image
{
  width: 80%;
}

.featured-pet .pet-image img
{
  height: 100%;
}

.featured-pet .info
{
  width: 150px;
  padding: 10px;
}

.featured-pet .info .pet-name
{
  color: #231248;
  margin: 0;
  padding: 8px 0;
}

.featured-pet .info .pet-breed
{
  color: #231248;
  margin: 0;
  padding: 8px 0;
}

.featured-pet .info .pet-price
{
  color: red;
}

.featured-pet .ff button
{
  background-color: #231248;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  color: white;
  box-shadow: 2px;
}

.featured-pet .ff button:hover
{
  background-color: white;
  color: #231248;
  box-shadow: 3px 3px 5px 5px;
}

.featured-pet .pet-image img
{
  width: 100%;
}

.shops-list
{
  display: flex;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.shops-list .info
{
  background: rgba(77, 57, 30, 0.15);
  padding: 10px;
}

.shops-list .shops-images
{
  width: 180px;
}

.shops-list .shops-images img
{
  width: 100%;
  height: 100%;
}

.shops-list .info button
{
  background-color: #231248;
  padding: 10px 50px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
  box-shadow: 2px;
}

.shops-list .info button:hover
{
  background-color: white;
  color: #231248;
  box-shadow: 3px 3px 5px 5px;
}

.shops-list .info .shops-location
{
  font-weight: normal;
}